<template>
  <div>
    <base-dialog :show="!!error" @close="close" title="An error occured">
      <p>{{ error }}</p></base-dialog
    >
    <base-dialog :show="isLoading" fixed title="Authenticating...">
      <base-spinner></base-spinner>
    </base-dialog>
    <base-card>
      <h2 class="center" v-if="mode === 'login'">Login Here:</h2>
      <h2 class="center" v-else>Sign Up Here:</h2>
      <form @submit.prevent="submitForm">
        <div class="form-control">
          <label for="email">E-mail</label>
          <input type="email" id="email" v-model.trim="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" v-model.trim="password" />
        </div>
        <base-button class="auth-buttons">{{
          submitButtonCaption
        }}</base-button>
        <base-button
          class="auth-buttons"
          type="button"
          mode="flat"
          @click="changeAuthMode"
          >{{ submitSwitchButtonCaption }}</base-button
        >
        <div v-if="!formIsValid" class="error-message">
          <p>Please enter a valid email and password.</p>
          <p>(Password has to be 6 character long, at least)</p>
        </div>
      </form>
    </base-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      formIsValid: true,
      mode: 'login',
      isLoading: false,
      error: null
    };
  },
  computed: {
    submitButtonCaption() {
      if (this.mode === 'login') {
        return 'Login';
      } else {
        return 'Signup';
      }
    },
    submitSwitchButtonCaption() {
      if (this.mode === 'login') {
        return 'Signup instead';
      } else {
        return 'Login instead';
      }
    }
  },
  methods: {
    close() {
      this.error = null;
    },
    async submitForm() {
      this.isLoading = true;
      this.formIsValid = true; // we add this to clear any errors that might have been there before. Otherwise it's set as true by default anyway.
      if (
        this.email === '' ||
        !this.email.includes('@') ||
        this.password.length < 6
      ) {
        this.formIsValid = false;
        return;
      }
      try {
        await this.$store.dispatch('authAction', {
          email: this.email,
          password: this.password,
          action: this.mode
        });
        // ?redirect=register
        const redirectUrl = '/' + (this.$route.query.redirect || 'coaches');
        this.$router.replace(redirectUrl);
      } catch (err) {
        if (err.message === 'EMAIL_EXISTS') {
          this.error =
            'That Email address is already registered. Try Login instead.';
          this.mode = 'login';
        } else if (err.message === 'INVALID_PASSWORD') {
          this.error = 'Your password is incorrect.';
        } else {
          this.error = err.message || 'Failed to Authenticate, try later!';
        }
      }
      this.isLoading = false;
    },
    changeAuthMode() {
      if (this.mode === 'login') {
        this.mode = 'signup';
      } else {
        this.mode = 'login';
      }
    }
  }
};
</script>

<style scoped>
.error-message {
  line-height: 5px;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  text-align: center;
  margin: 4px;
}
form {
  margin: 1rem;
  padding: 1rem;
}
.center {
  text-align: center;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}
.auth-buttons {
  margin-top: 5px;
}
</style>
