<template>
  <div>
    <base-dialog :show="!!error" @close="close" title="An error occured">
      {{ error }}
    </base-dialog>
    <section>
      <base-card>
        <header>
          <base-button class="float-right" @click="fetchRequests()"
            >Refresh</base-button
          >
          <h2>Requests Recieved</h2>
        </header>
        <base-spinner v-if="isLoading"></base-spinner>
        <ul v-else-if="hasRequests">
          <request-item
            v-for="req in getRequests"
            :key="req.id"
            :email="req.userEmail"
            :message="req.message"
          ></request-item>
        </ul>
        <h3 v-else>You haven't recieved any requests yet.</h3>
      </base-card>
    </section>
  </div>
</template>

<script>
import BaseButton from '../../components/ui/BaseButton.vue';
import BaseDialog from '../../components/ui/BaseDialog.vue';
import BaseSpinner from '../../components/ui/BaseSpinner.vue';
import RequestItem from './../../components/requests/RequestItem.vue';
export default {
  components: {
    RequestItem,
    BaseSpinner,
    BaseButton,
    BaseDialog
  },
  data() {
    return {
      isLoading: false,
      error: null
    };
  },
  created() {
    this.fetchRequests();
  },
  methods: {
    async fetchRequests() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('requests/fetchRequests');
      } catch (error) {
        this.error = error.message || 'Something failed';
      }
      this.isLoading = false;
    },
    close() {
      this.error = null;
    }
  },
  computed: {
    getRequests() {
      return this.$store.getters['requests/getRequests'];
    },
    hasRequests() {
      return !this.isLoading && this.$store.getters['requests/hasRequests'];
    }
  }
};
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}

.float-right {
  float: right;
  margin: auto;
  margin-top: -10px;
}
</style>
