<template>
  <section>
    <base-card> <coach-form @save-data="saveData"></coach-form> </base-card>
  </section>
</template>

<script>
import CoachForm from '../../components/coaches/CoachForm.vue';
export default {
  components: { CoachForm },
  methods: {
    saveData(data) {
      this.$store.dispatch('coaches/registerCoach', data);
      this.$router.replace('/coaches'); //replace is basically like push, but it doesn't allow you to use the Back button on the browser after navigation is finished. It's good for cases like this where you want to prevent the user from navigating back to a form, that he shouldn't use to register twice.
    }
  }
};
</script>

<style scoped></style>
