<template>
  <div>
    <base-dialog :show="!!error" title="An error occured" @close="handleError">
      <!-- the !!error is basically converting a truthie value to real TRUE value. So if for example error happened, then the data property error will have a message most likely in it. And that is a string. Since we are using the base-dialog feature :show , that expects a True or False. So sending string is not acceptable. If we use only 1 ! that will transform the string into a False instead. So using 2x !! is converting the string (which is truthie value by default) into a boolean, and then negating it back to True. -->
      <p>{{ error }}</p>
    </base-dialog>
    <section>
      <coach-filter @change-filter="setFilters"></coach-filter>
      <!-- <p>{{ isLoggedIn }}</p> -->
    </section>
    <section>
      <base-card>
        <div class="controls">
          <base-button mode="outline" @click="loadCoaches(true)"
            >Refresh</base-button
          >
          <base-button
            link
            to="/register"
            v-if="isLoggedIn && !isCoach && !isLoading"
            >Register as Coach</base-button
          >
          <base-button
            link
            to="/auth?redirect=register"
            v-if="!isLoggedIn && !isLoading"
            >Login to Register as Coach</base-button
          >
        </div>
        <base-spinner v-if="isLoading"></base-spinner>
        <ul v-else-if="hasCoaches">
          <coach-item
            v-for="coach in filteredCoaches"
            :key="coach.id"
            :id="coach.id"
            :first-name="coach.firstName"
            :last-name="coach.lastName"
            :rate="coach.hourlyRate"
            :areas="coach.areas"
          ></coach-item>
        </ul>
        <h3 v-else>No coaches found.</h3>
      </base-card>
    </section>
  </div>
</template>

<script>
// Here is an example for lazy-loading local components. It's not needed here, since it
// these are loaded on the homepage of our application, therefore are instantly needed.
// but just to show the syntax, here is how it's used.
import { defineAsyncComponent } from 'vue';
const CoachItem = defineAsyncComponent(() =>
  import('../../components/coaches/CoachItem.vue')
);
const CoachFilter = defineAsyncComponent(() =>
  import('../../components/coaches/CoachFilter.vue')
);
// import CoachItem from '../../components/coaches/CoachItem.vue';
// import CoachFilter from '../../components/coaches/CoachFilter.vue';
export default {
  data() {
    return {
      isLoading: false,
      error: null,
      activeFilters: {
        frontend: true,
        backend: true,
        career: true
      }
    };
  },
  components: {
    CoachItem,
    CoachFilter
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
    filteredCoaches() {
      const coaches = this.$store.getters['coaches/coaches'];
      return coaches.filter(coach => {
        if (this.activeFilters.frontend && coach.areas.includes('frontend')) {
          return true;
        }
        if (this.activeFilters.backend && coach.areas.includes('backend')) {
          return true;
        }
        if (this.activeFilters.career && coach.areas.includes('career')) {
          return true;
        }
        return false;
      });
    },
    hasCoaches() {
      return !this.isLoading && this.$store.getters['coaches/hasCoaches'];
    },
    isCoach() {
      return this.$store.getters['coaches/isCoach'];
    }
  },
  created() {
    this.loadCoaches();
  },
  methods: {
    setFilters(updatedFilters) {
      this.activeFilters = updatedFilters;
    },
    handleError() {
      this.error = null;
    },
    async loadCoaches(refresh = false) {
      this.isLoading = true;
      try {
        // all this means "try to execute this code, and catch the error if it doesn't work, and execute this code if there is error (which in our case is the error message or the string)" Since we have already created new error to be thrown if response is not ok, we should be able to catch it, in the component that caused that error. No matter that we have created the error in our vuex definitions.
        await this.$store.dispatch('coaches/loadCoaches', {
          forceRefresh: refresh
        });
      } catch (error) {
        this.error = error.message || 'Something went wrong.';
      }
      this.isLoading = false;
      // So what we did here basically is we made the loadCoaches() method async
      // because by default when doing a dispatch on action with vuex, it returns a promise
      // whenever the action resolved and it's done with all the steps.
      //that being said, we use await in front of the action, to indicate that we are
      // waiting for that promise, and whenever we get it, we go to the next step.
      // and that is why we set loading to false, since when the action is done with resolving the code,
      // we have gotten all the coaches (in this specific method)
    }
  }
  /* mounted() {
    console.log(this.hasCoaches);
    console.log(this.filteredCoaches.length);
  } */
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>
