<template>
  <the-header></the-header>
  <router-view v-slot="slotProps">
    <transition name="route" mode="out-in">
      <component :is="slotProps.Component"></component>
    </transition>
  </router-view>
  <footer class="footer">
    <a
      href="https://bitbucket.org/UmrenTV/coach-finder-app/src/master/"
      target="_blank"
      >Source Code</a
    >
  </footer>
</template>

<script>
import TheHeader from './components/layout/TheHeader.vue';
export default {
  components: {
    TheHeader
  },
  created() {
    this.$store.dispatch('tryLogin');
  },
  watch: {
    didAutoLogout(curValue, oldValue) {
      if (curValue && curValue !== oldValue) {
        this.$router.replace('/coaches');
      }
    }
  },
  computed: {
    didAutoLogout() {
      return this.$store.getters.didAutoLogout;
    }
  }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
.route-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.route-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}
.route-enter-active {
  transition: all 0.3s ease-out;
}
.route-leave-active {
  transition: all 0.3 ease-in;
}
.route-leave-from,
.route-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
  padding: 5px;
}
.footer a {
  text-decoration: none;
  color: purple;
}
</style>
