<template>
  <base-card>
    <h2>Find Your Coach</h2>
    <span class="filter-option">
      <input type="checkbox" id="frontend" checked @change="setFilter" />
      <label for="frontend">frontend</label>
      <input type="checkbox" id="backend" checked @change="setFilter" />
      <label for="backend">backend</label>
      <input type="checkbox" id="career" checked @change="setFilter" />
      <label for="career">career</label>
    </span>
  </base-card>
</template>

<script>
export default {
  emits: ['change-filter'],
  data() {
    return {
      filters: {
        frontend: true,
        backend: true,
        career: true
      }
    };
  },
  methods: {
    setFilter(event) {
      const inputId = event.target.id; // We get the input id like this first. 'frontend' 'backend' 'career'
      const isActive = event.target.checked; // Now we check whether that input checkbox for which this event was triggered isActive
      const updatedFilters = {
        ...this.filters, // with this we copy (spread) the filters that are defined in the filters object of the data(), into the new updatedFilters object.
        [inputId]: isActive // and then we take the inputId defined in the const above,
        // and we manually override the key for which that inputId matches in the filters (updatedFilters right now) object, to the state (true or false)
        // that we take from seeing if the input for that ID is checked with isActive const above.
        // So basically someone presses some of the checkboxes, and the event for that specific checkbox starts. Then it checkes whether the checkbox that triggered the event is Active or not (checked), and it updates the filters in the data() property with the new state for that checkbox, and sends an event with $emit to the parent that the filters object has been changed, to update the visible coaches i guess.
      };
      this.filters = updatedFilters;
      this.$emit('change-filter', updatedFilters);
    }
  }
};
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
</style>
